body {
    background-color: white;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: left;
    line-height: 1.4
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 26px;
    margin: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

ul {
    font-size: 20px;
    margin: 0;
}

a {
    font-size: 20px;
    color: #4682B4;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4169E1;
}

a:active {
    text-decoration: underline;
}

.section {
    /* border: 1px solid red; */
    /* position: absolute; */
    /* top: 0; left: 0; right: 0; bottom: 0; */
    margin: auto;
    width: 700px;
    /* height: 900px; */
    margin-top: 100px;
}

hr.solid {
    border-top: 1px solid #bbb;
}

#profile_pic {
    /* border: 1px solid orange; */
    display: block;
    margin: auto;
    margin-bottom: 10px;
    max-width: 150px; 
    height: auto;
    pointer-events: none;
    user-select: none;
}

#profile_body {
    /* border: 1px solid orange; */
    margin: 30px;
}

#socials_body {
    /* border: 1px solid orange; */
    margin: 30px;
}

#projects_body {
    /* border: 1px solid orange; */
    margin: 30px;
}

@media screen and (max-width: 800px) {
    .section {
        width: auto;
    }
}

#fourohfour_body {
    margin-top: 300px;
    text-align: center;
}

#nbc_body {
    width: 750px;
    margin: auto;
}

#bank_pic {
    max-width: 600px; 
    height: auto;
}
