body {
    /* border: 1px solid red; */
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: left;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 26px;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin: 0;
}

h5 {
    margin: 0;
}

p, a {
    font-size: 20px;
    margin: 0;
}

a:hover {
    color: #CD9C4E;
}

@media screen and (max-width: 600px) {
    h1 {
        /* font-size: 52px; */
    }
    h3 {
        /* font-size: 14px; */
    }
    p {
        /* font-size: 8px; */
    }
}

@media screen and (min-width: 901px) {
    #home_button {
        font-size: 44px;
        margin-left: 60px; 
    }
    .social_button {
        font-size: 28px;
    }
    #desktop_links {
        margin-right: 60px;
    }
    #socials_dropdown {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #home_button {
        font-size: 34px;
        margin-left: 20px; 
    }
    .social_button {
        font-size: 24px;
    }
    #desktop_links {
        display: none;
    }
    #socials_dropdown {
        margin-right: 20px;
    }
}

.navbar {
    /* border: 1px solid black; */
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    transition: background-color 200ms linear;
}

.navbar.scrolled {
    background-color: #1C2833 !important;
    transition: background-color 200ms linear;
}

.navbar.scrolled #home_button {
    color: white;
}

.navbar.scrolled .social_button {
    color: #F7F7F7;
}

#home_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: Garamond, serif;
    font-weight: bold;
    margin-right: auto; 
    padding: 10px 16px;
}

.social_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-family: Garamond, serif;
    padding: 10px 16px;
    text-decoration: underline;
}

.social_button:hover {
    color: #CD9C4E;
}

.navbar.scrolled .social_button:hover {
    color: #CD9C4E;
}

#mobile_links {
    background-color: #1C2833;
    display: none;
    position: absolute;
    top: 90px;
}

#mobile_links .social_button {
    color: #F7F7F7;
    display: block;
    padding: 10px 30px;
}

#mobile_links .social_button:hover {
    color: #CD9C4E;
}

.section {
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_body {
    /* border: 1px solid black; */
    margin-right: 50px;
    width: 750px;
}

@media screen and (max-width: 1100px) {
    #profile_body {
        margin: 50px;
    }
}

#profile_pic {
    max-width: 350px; 
    height: auto;
}

#projects_body {
    /* border: 1px solid black; */
    display: grid;
    gap: 50px;
    grid-template-columns: 500px 500px;
    margin: 70px;
}

@media screen and (max-width: 1100px) {
    #projects_body {
        grid-template-columns: auto;
    }
}

.project{
    /* border: 1px solid black; */
    color: whitesmoke;
    background: url(git.png) center;
    background-size: cover;
    padding: 50px;
}

.project a {
    color: white;
}

.project a:hover {
    color: #CD9C4E;
}

#experience_body {
    /* border: 1px solid black; */
    width: 750px;
}

@media screen and (max-width: 800px) {
    #experience_body {
        margin-left: 50px;
        margin-right: 50px;
        width: auto;
    }
}

.experience {
    /* border: 1px solid black; */
    padding: 30px;
}

.experience ul, ol {
    font-size: 20px;
    padding-left: 0;
}

#bank_pic {
    width: auto;
    max-height: 450px;
}

#nbc_body {
    width: 750px;
}

@media screen and (max-width: 800px) {
    #nbc_body {
        margin-left: 50px;
        margin-right: 50px;
        width: auto;
    }
    #bank_pic {
        width: auto;
        max-height: 300px;
    }
}

#error_404 {
    /* border: 1px solid black; */
    margin-top: 300px;
    text-align: center;
}
