body {
    /* border: 1px solid red; */
    color: #333333;
    font-weight: 300;
    line-height: 1.6;
    margin: auto;
    margin-top: 12vh;
    width: 520px;
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
        width: auto;
    }
}

h1 {
    font-size: 19px;
    font-weight: normal;
}

a {
    color: #1E90FF;
    text-underline-offset: 4px;
    font-weight: 400;
}

a:hover {
    color: #4682B4;
}

.fa {
    margin: 2px;
    text-decoration: none;
}

#peng_pic {
    display: block;
    margin-left: 20px;
    max-width: 45px; 
    pointer-events: none;
    user-select: none;
}

